@use '../foundation' as *;

.p-footer{
    height: inherit;
}
.p-footer__contact{
     height: inherit;
    a{
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        h2{
            font-family: $font-family-ttl;
            font-weight:400;
            font-size: 12vw;
            letter-spacing: prem(16);
            color: #F6F6F6;
            text-align: center;
            position: relative;
            width: 100%;
            display: block;

            &::before { 
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                inset: 0 0 0 0;
                background: rgba(255,255,255,.4);
                z-index: -1;
                transition: transform .3s ease;
                transform: scaleX(0);
                transform-origin: bottom right;
            }

            &:hover{
                color: transparent;
                -webkit-text-stroke:1px #F6F6F6;
                &::before {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }

            @include mq("md") {
               letter-spacing: prem(24);
            }

            @include mq("lg") {
               font-size: 16vw;
               letter-spacing: prem(36);
            }
        }
    }
}

.p-footer__bottom{
    a{
        color: #F6F6F6;
        font-size: prem(32);
        padding: prem(24) prem(32);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
    }
}