@use '../foundation' as *;

.p-mv__images{
    position: relative;
    overflow: hidden;
    margin:30vw auto 0;
    &--sm{
      display: block;
      @include mq("md") {
        display: none;
        margin:24.5vw auto 0;
      }

      .p-mv__image{
        display: flex;
        overflow: hidden;
        will-change: transform;
        &01{
          transform: translateX(-10000px) translateY(10%);
          margin: 0;
          width: 80vw;
        }
        &02{
          width: 60vw;
          margin: 0;
          margin-left: auto;
          transform: translateX(10000px) translateY(-20%) ;
          height: 80%;
        }

        &03{
          transform: translateX(-10000px) translateY(-60%);
          width: 60vw;
          margin:0 0 0 10%;
        }

        .js-parallax {
          --parallax-y: -100;
          display: block; /* 必須 */
        }

      }
    }
   
    
    a{
        display: block;
        width: 100%;
        img{
            width: 100%;
        }
    }
}


@keyframes fadeIn01 {
  0% {
    transform: translateX(-10000px) translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) translateY(10%);
    opacity: 1;


  }
}

@keyframes fadeIn02 {
  0% {
    transform: translateX(10000px) translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) translateY(-20%);
    opacity: 1;
  }
}

@keyframes fadeIn03 {
  0% {
    transform: translateX(-10000px) translateY(-60%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) translateY(-60%);
    opacity: 1;
  }
}

.p-mv__images--sm .p-mv__image01 {
  animation: 1.8s 0s forwards ease-out fadeIn01;
}

.p-mv__images--sm .p-mv__image02 {
  animation: 1.8s 0.5s forwards ease-out fadeIn02;
}

.p-mv__images--sm .p-mv__image03 {
  animation: 1.8s 1s forwards ease-out fadeIn03;
}