@use '../foundation' as *;

.c-word {
  display: inline-block;
  overflow: hidden;
  position: relative;
  line-height: 1;
  font-size: 4rem;
  font-weight: 400;
}

.c-word__rect {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #FFF;
  z-index: 2;
  opacity: 1;
}

.c-word__text {
  opacity: 0;
  position: relative;
  z-index: 1;
  font-family: $font-family-ttl;
  font-weight: 600;
}
